<h2>Контакты</h2>


<form action="/contacts" method="POST">
  <div class="form-group">
    <label >email:</label>
    <input name="email" type="text" class="form-control" placeholder="Введите Ваш email">
  </div>

<textarea class="form-control" rows="5"></textarea>

<button type="submit" class="btn btn-primary">Отправить</button>
</form>